.sidebar1 {
    background: #8684f1;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#55b9f3, #559deb, #007aff);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#55b9f3, #559deb, #007aff);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#55b9f3, #559deb, #007aff);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#55b9f3, #559deb, #007aff);
    /* Standard syntax */
    padding: 0px;
    min-height: 100%;
}
.logo {
    max-height: 130px;
}
.logo>img {
    margin-top: 75px;
    padding: 3px;
    width: 60px;
    border-radius: 100%;
}
.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}
.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}
.list> li, h5 {
    padding: 5px 0px 5px 40px;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}.main-content{
text-align:center;
}
/* Slides */
#slide {
	padding: 0;
}
.swiper {
	width: 100%;
	height: 100%;
  }

  .swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
  }

  .swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
  }

  .swiper-pagination-bullet {
    position: relative;
	left: 45em;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	color: #000;
	opacity: 1;
	background: rgba(0, 0, 0, 0.2);
  }

  .swiper-pagination-bullet-active {
	color: #fff;
	background: #007aff;
  }
  .card {
	margin-top: 4em;
	margin-bottom: 4em;

  }
  /* footer */
  #foot {
	padding-top: 0.1rem; 
	padding-bottom: 0.1rem; 
    background: #ff5f6d;
    background: -webkit-linear-gradient(to right, #00001a, #00004d);
    background: linear-gradient(to right, #00001a, #00004d);
    min-height: 30vh;
    font-family: 'Sanchez', serif
}

#button-addon1 {
    color: #ffc371
}

i {
    color: #0000cc;
    font-size: 20px
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic
}

.form-control.shadow-0:focus {
    box-shadow: none
}

.display-3 {
    font-family: 'Sanchez', serif
}

p {
    font-family: 'Tajawal', sans-serif
}

.lead {
    font-family: 'Sanchez 200', serif
}